<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/global.css" />
    <link rel="stylesheet" href="../../css/auth.css" />
    <title>Log In Gitshop</title>
  </head>

  <body>
    <div id="head">
      <img src="../../assets/img/gitshoplogo.png" alt="" />
      <h2>Login</h2>
    </div>

    <form th:action="@{/login}" method="post">
      <input type="text" name="username" placeholder="username" />

      <input type="password" placeholder="password" name="password" />

      <input type="submit" value="Sign In" />
      <p>Don't have an account? <a th:href="@{/signup}">sign up</a></p>
    </form>
  </body>
</html>
