<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Git Shop</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header>
      <a th:href="@{/home}">
        <img src="assets/img/gitshoplogo.png" alt="gitShot logo"
      /></a>
      <div class="search">
        <i class="fa fa-search hide_search"></i>
        <form >
          <input type="text" placeholder="search" name="search" />
          <button><i class="fa fa-search"></i></button>
        </form>
        <a th:href="@{advanced_search}">Advanced search</a>
        <a th:href="@{/login}" sec:authorize="isAnonymous()">Login</a>
        <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>

      </div>
    </header>

    <main>
      <div class="categorias">
        <h4>Categories</h4>

        <ul>
          <li><a th:href="@{/?categorie=html5}">HTML5</a></li>
          <li><a th:href="@{/?categorie=css3}">CSS3</a></li>
          <li><a th:href="@{/?categorie=javascript}">JavaScript</a></li>
          <li><a th:href="@{/?categorie=reatjs}">ReactJS</a></li>
          <li><a th:href="@{/?categorie=veujs}">VeuJS</a></li>
          <li><a th:href="@{/?categorie=angular}">Angular</a></li>
          <li><a th:href="@{/?categorie=typescript}">TypeScript</a></li>
        </ul>
      </div>

      <div class="produtos">
        <p id="total_produtos" th:text="'Total '+ ${categorie} +' articles: '+${length} "/>

        <div class="produtos_main_content">

          <a th:each="Product: ${products}" th:href="@{/products}">

            <div class="produto">
              <h3 class="title"th:text="${Product.title}"/>

              <div class="imgandprice">
                <!-- src="${Product.imgSrc}"-->
                <img

                  src="assets/img/css/css_flexbox.png"
                  alt="css flexbox article buner"
                />
                <h5><strong>Price:</strong><br /><span th:text="${Product.price} + '$00'" th:remove="tag"/></h5>
              </div>

              <div class="product_info">
                <h4><strong>Categories:</strong> <span th:text="${Product.categorie}" th:remove="tag"/> </h4>
                <p>
                  <strong>Description:</strong>
                  <div th:text="${Product.description}" th:remove="tag"/>
                </p>
              </div>
            </div>
          </a>


        </div>

        <div class="prevandnext">
          <i class="fa fa-arrow-left"></i>
          <i class="fa fa-arrow-right"></i>
        </div>
      </div>
    </main>

    <footer>
      <a href="#">About this page</a>
    </footer>
  </body>
</html>
