<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Git Shop</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header>
      <a href="./index.html">
        <img src="../assets/img/gitshoplogo.png" alt="gitShot logo"
      /></a>
      <div class="search">
        <i class="fa fa-search hide_search"></i>
        <form action="">
          <input type="text" placeholder="search" />
          <button><i class="fa fa-search"></i></button>
        </form>
        <a href="advanced_search.html">advanced search</a>
        <a id="login" th:href="@{/login}">Login</a>
      </div>
    </header>

    <main>
      <div class="categorias">
        <h4>Categories</h4>

        <ul>
          <li><a href="#">HTML5</a></li>
          <li><a href="#">CSS3</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">ReactJS</a></li>
          <li><a href="#">VeuJS</a></li>
          <li><a href="#">Angular</a></li>
          <li><a href="#">TypeScript</a></li>
        </ul>
      </div>

      <div class="produtos">
        <p id="total_produtos">total css articles: <em>5</em></p>

        <div class="produtos_main_content">
          <a href="produtos.html">
            <div class="produto">
              <h3 class="title">A Complete Guide to Flexbox</h3>

              <div class="imgandprice">
                <img
                  src="../assets/img/css/css_flexbox.png"
                  alt="css flexbox article buner"
                />
                <h5><strong>Price:</strong><br />25.99€</h5>
              </div>

              <div class="product_info">
                <h4><strong>Categories:</strong>CSS3</h4>
                <p>
                  <strong>Description:</strong>Our comprehensive guide to CSS
                  flexbox layout. This complete guide explains everything about
                  flexbox, focusing on all the different possible properties for
                  the parent element (the flex container) and the child elements
                  (the flex items). It also includes history, demos, patterns,
                  and a browser support chart.
                </p>
              </div>
            </div>
          </a>

          <a href="produtos.html">
            <div class="produto">
              <h3 class="title">A Complete Guide to Grid</h3>

              <div class="imgandprice">
                <img
                  src="../assets/img/css/css_grid.jpg"
                  alt="css Grid layout article buner"
                />
                <h5><strong>Price:</strong><br />25.99€</h5>
              </div>

              <div class="product_info">
                <h4><strong>Categories:</strong>CSS3</h4>
                <p>
                  <strong>Description:</strong>Our comprehensive guide to CSS
                  grid, focusing on all the settings both for the grid parent
                  container and the grid child elements.
                </p>
              </div>
            </div>
          </a>

          <a href="infoprodutos.html">
            <div class="produto">
              <h3 class="title">A Complete Guide to CSS Media Queries</h3>

              <div class="imgandprice">
                <img
                  src="../assets/img/css/css_media_queries.png"
                  alt="css media queries article banner"
                />
                <h5><strong>Price:</strong><br />15.99€</h5>
              </div>

              <div class="product_info">
                <h4><strong>Categories:</strong>CSS3</h4>
                <p>
                  <strong>Description:</strong>Media queries can modify the
                  appearance (and even behavior) or a website or app based on a
                  matched set of conditions about the user's device, browser or
                  system settings.
                </p>
              </div>
            </div>
          </a>

          <a href="produtos.html">
            <div class="produto">
              <h3 class="title">CSS3 - An Ultimate Guide for Beginners</h3>

              <div class="imgandprice">
                <img
                  src="../assets/img/css/css3_guide.jpg"
                  alt="css3 Tutorial for Beginners"
                />
                <h5><strong>Price:</strong><br />55.99€</h5>
              </div>

              <div class="product_info">
                <h4><strong>Categories:</strong>CSS3</h4>
                <p>
                  <strong>Description:</strong>An Ultimate Guide for Beginners.
                  CSS3 tutorial for Beginners from Scratch. Learn CSS3 and build
                  your first website using CSS. Learn How to code CSS projects
                  by your-self. Learn all the basic tolls in CSS. Learn to
                  create your first project in CSS
                </p>
              </div>
            </div>
          </a>

          <a href="produtos.html">
            <div class="produto">
              <h3 class="title">A Complete Guide to CSS Functions</h3>

              <div class="imgandprice">
                <img
                  src="../assets/img/css/css_functions.png"
                  alt="css Grid layout article buner"
                />
                <h5><strong>Price:</strong><br />5.99€</h5>
              </div>

              <div class="product_info">
                <h4><strong>Categories:</strong>CSS3</h4>
                <p>
                  <strong>Description:</strong>Like any other programming
                  language, CSS has functions. They can be inserted where you’d
                  place a value, or in some cases, accompanying another value
                  declaration.
                </p>
              </div>
            </div>
          </a>
        </div>

        <div class="prevandnext">
          <i class="fa fa-arrow-left"></i>
          <i class="fa fa-arrow-right"></i>
        </div>
      </div>
    </main>

    <footer>
      <a href="#">About this page</a>
    </footer>
  </body>
</html>
