<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Git Shop</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header>
      <a href="index.html">
        <img src="../assets/img/gitshoplogo.png" alt="gitShot logo"
      /></a>
      <div class="search">
        <i class="fa fa-search hide_search"></i>

        <form action="">
          <input type="text" placeholder="search" />
          <button><i class="fa fa-search"></i></button>
        </form>
        <a href="advanced_search.html">advanced search</a>
        <a id="login" th:href="@{/login}">Login</a>
      </div>
    </header>

    <main>
      <div class="categorias">
        <h4>Categories</h4>
        <ul>
          <li><a href="#">HTML5</a></li>
          <li><a href="#">CSS3</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">ReactJS</a></li>
          <li><a href="#">VeuJS</a></li>
          <li><a href="#">Angular</a></li>
          <li><a href="#">TypeScript</a></li>
        </ul>
      </div>

      <div class="produtos">
        <div class="imganddescription">
          <a href="../assets/img/css/css_flexbox.png"
            ><img src="../assets/img/css/css_flexbox.png" alt="" width="300px"
          /></a>
          <p>
            <strong>Description</strong>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Necessitatibus dolor pariatur illum sunt aliquam
            iste libero magnam hic, reiciendis incidunt nostrum, itaque
            similique, ratione voluptatem autem? Voluptatibus sequi, ullam, esse
            deserunt, laboriosam corrupti perspiciatis magni nulla molestiae
            aspernatur facilis architecto facere repellendus! Alias, odit sunt,
            omnis excepturi tenetur dolorum eaque dolor quae asperiores
            veritatis fugiat provident. Soluta quam debitis natus expedita nihil
            consequuntur nemo, assumenda quis tempore sed totam blanditiis
            nesciunt modi magni libero error dolorum non labore dicta, maiores
            quos voluptatem. Quam accusamus adipisci cupiditate incidunt
            deleniti rerum ratione fugiat molestias ut tempora nobis similique
            quos ipsam, aliquid aut!
          </p>
        </div>
        <div class="info">
          <h6><strong>Price: </strong>25.99€</h6>

          <h6><strong>Custo envio: </strong>5.99€</h6>

          <h6><strong>Data de entrega: </strong>11/12/2020</h6>
        </div>

        <div class="paymentstypes">
          <h6>Types of payments</h6>
          <a href=""
            ><img class="pay" src="../assets/img/payments/visa.png" alt="Visa"
          /></a>
          <a href=""
            ><img
              class="pay"
              src="../assets/img/payments/mbway.jpg"
              alt="MBway"
          /></a>
          <a href=""
            ><img
              class="pay"
              src="../assets/img/payments/paypal.png"
              alt="Paypal"
          /></a>
          <a href=""
            ><img
              class="pay"
              src="../assets/img/payments/mastercard.jpg"
              alt="MasterCard"
          /></a>
        </div>

        <form action="">
          <label for="units">Unidades</label>
          <input
            type="number"
            placeholder="min"
            min="1"
            id="units"
            placeholder="unidades"
          />
          <input type="submit" value="Buy" />
        </form>
      </div>
    </main>

    <footer>
      <a href="#">About this page</a>
    </footer>
  </body>
</html>
